<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">maxx22</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            fastbooks
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('addexp') }}">Add expense</a></li>
            <li><a class="dropdown-item" href="{{ url_for('expenses') }}">List expenses</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('categories') }}">List categories</a></li>
            <li><a class="dropdown-item" href="{{ url_for('vendors') }}">List vendors</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            mirabile dictu
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">1111
            <li><a class="dropdown-item" href="{{ url_for('write') }}">Write post</a></li>
            <li><a class="dropdown-item" href="{{ url_for('posts') }}">Read all posts</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('translators') }}">List translators</a></li>
            <li><a class="dropdown-item" href="{{ url_for('authors') }}">List authors</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
     {% if session['username'] %}
            Log out
              {% else %}
              Log in/register
              {% endif %}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

<!--              {% if session['username'] %}-->
<!--              <li class="nav-item active">-->
<!--           </li>-->
<!--              {% else %}-->
<!--&lt;!&ndash;              <li class="nav-item active">&ndash;&gt;-->
<!--&lt;!&ndash;                </li>&ndash;&gt;-->
<!--              {% endif %}-->





              {% if session['username'] %}
            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Log out</a></li>
              {% else %}

            <li><a class="dropdown-item" href="{{ url_for('login') }}">Log in</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ url_for('register') }}">Sign up</a></li>
              {% endif %}

          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>

<!--      <form class="form-inline my-0 my-md-0" action={{ url_for('title_search') }} method="POST">-->
<!--          <input class="form-control mr-sm-2" name="title_searchXX" type="search" placeholder="Title word or author last name" aria-label="Search">-->
<!--          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--      </form>-->


    </div>
  </div>
</nav>


<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--&lt;!&ndash;&#45;&#45;&#45;&#45; Include the above in your HEAD tag &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
{% if title_searching %}
<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm"  action={{ url_for('title_search') }} method="POST">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless"
                                               type="search" name="title_search" placeholder="Enter word in title, or author's last name">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div>

{% endif %}


<hr>
