{% extends 'base.html' %}
{% block sub_content %}
<div class-'container'>
<div class="maxxred"> </div>
    {% if expenses %}
        <table class="cl_table">
        <tr>
            <th>Descr</th><th>Amount</th><th>Date</th><th>Cat</th><th>Vendor</th>
        </tr>
            {% for e in expenses %}
                <tr>
                    <td>{{e.descr}}</td><td>{{e.amount}}</td><td>{{e.exp_date}}</td><td>{{e.cat_id}}</td><td>{{e.vendor_id}}</td>
                </tr>

        {% endfor %}
        </table>
    {% endif %}
</div>
{% endblock %}